body,html {scroll-behavior:smooth;}
main .bg {height:100vh; background-size:cover;}
main .bg:nth-child(1) {background-image:url(https://images.unsplash.com/photo-1600210492493-0946911123ea?q=80&w=1548&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)}
main .bg:nth-child(2) {background-image:url(https://images.unsplash.com/photo-1556228453-efd6c1ff04f6?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)}
main .bg:nth-child(3) {background-image:url(https://images.unsplash.com/photo-1567767292278-a4f21aa2d36e?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)}
main .bg:nth-child(4) {background-image:url(https://images.unsplash.com/photo-1585412727339-54e4bae3bbf9?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)}
nav {
    display:flex; flex-flow:column nowrap;
    position:fixed; right:50px; bottom:200px;
}
nav a {
    width:30px; height:30px; position:absolute; right:0;
    border-radius:50%; background:#222;
    transition: width 0.5s; overflow: hidden;
}
nav a:nth-child(1) {top:0;}
nav a:nth-child(2) {top:35px;}
nav a:nth-child(3) {top:70px;}
nav a:nth-child(4) {top:105px;}
nav a:hover {width:100px; border-radius:10px;}
nav a::after {
    display:inline-block; position:absolute; right:0;
    color:#fff; padding:10px; line-height:8px;
    white-space: nowrap;
}
nav a:nth-child(1):hover::after {content:'Interior A.'}
nav a:nth-child(2):hover::after {content:'Interior B.'}
nav a:nth-child(3):hover::after {content:'Interior C.'}
nav a:nth-child(4):hover::after {content:'Interior D.'}

